html {
  width:100%;
  height:100%;
}

body {
  width:100%;
  height:100%;
  font-family: Tahoma !important;
}

/* Navbar */
#navbar-header {
  height: 70px;
}

.navbar-container {
	padding-left: 150px;
	padding-right: 150px;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-item {
	font-family: Tahoma !important;
    font-weight: bolder;
    font-size: smaller;
    letter-spacing: 0.2px;
    white-space: nowrap;
}

.bg-black{
	background: #000000;
}

.bg-yellow{
  background: #d9b413;
}

.btn-autofin {
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-color: #767676;
  border-radius: 0px;
  border-width: 3px;
}

.text-button {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.text-yellow {
  color: #d9b413;
}


.full-bg {
  height: 100%;
  padding-top: 100px;


  background-color: #000;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Section main */
#main { 
  width:100%;
  height:100%;
  background-image: url(../img/fondo-main.png) ; 
}

.main-auto-moto {
  /*padding-top: 130px; */
}

.auto-moto {
  height: auto;
  margin-left: 25px;
  margin-right: 25px;
  border-style: solid;
  border-color: #d9b413;
}

.auto-moto-div {
  padding-top: 45px;
  padding-left: 65px;
  padding-right: 90px;
  padding-bottom: 45px;
  
}

.auto-moto-header {
  font-size: 1.5em;
}

.auto-moto-text {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.botones-main {
  padding-top: 20px;
  padding-left: 30px;
}

.btn-moto {
  margin-left: -10px;
}


/* Comencemos */

#comencemos {  
  width:100%;
  height:100%;
  background-image: url(../img/fondo-sections.png);
}

.comencemos {
  /*padding-top: 70px;*/
  margin-bottom: 130px;
}

.div-comencemos {
  width: 70%;
  height: auto;
  margin-left: 90px;
  margin-right: 100px;
  border-style: solid;
  border-width: 10px;
  border-color:rgb(44, 43, 43);
}

.text-comencemos {
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 60px;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  line-height: normal;
  color:rgb(44, 43, 43);
}

/* secciones de productos */

.sections { 
  width:100%;
  height:100%;
  background: url(../img/fondo-sections.png);
}

.productos {
  /*padding-top: 130px;*/
}

.div_productos {
  height: 120px;
  margin-right: 25px;
  position: absolute;
  z-index: 1;
}

.logo-productos {
    padding-top: 15%;
    padding-left: 40px;
    padding-right: 50px;
}

.text-productos {
  padding-left: 10%;
  padding-right: 20%;
  color: #949596;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 20px;
  
}

.iconos-productos {
    width: 8%;
    height: 100%;
    padding-bottom: 10%;
    padding-left: 2%;
    position: absolute;
}

.slider-productos {
  width: 100%;
  height: 100%;
  
  background-color: #d9b413;
  position: absolute;
  z-index: 4;
}


.carousel-indicators li {
  height: 7px;
  width: 7px;
  border-radius: 50%;
}

/* Footer */

#footer { 
  width:100%;
  height:100%;
  background: url(../img/fondo-final.png); 
}

.li-footer {
  padding-left: 30px;
}

#footer-contact {
  font-family: Tahoma !important;
  font-weight: bold;
  font-size: 11px;
  color: #ffffff;
  white-space: nowrap;
  letter-spacing: 0.1px;
  padding-top: 30px;
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 30px;
}

#footer-contact p {
  line-height: 0.1px;
}

@media (min-width: 992px) {
    #footer-contact .imagen-autofin { text-align:left;}
    #footer-contact .contact-autofin { text-align:right; }
}

@media (min-width: 509px) and (max-width: 991.98px) {
    #footer-contact .imagen-autofin { text-align:center; padding-bottom: 30px; }
    #footer-contact .contact-autofin { text-align:center; }
    .main-auto-moto {padding-top: 100px;}
    .auto-moto { margin-left: 0px; margin-right: 0px;}
    .auto-moto-div { padding: 20px; }
    .auto-moto-header {font-size: 1.5em; text-align:center; }
    .auto-moto-text { margin-top: 130px; padding-top: 10px; padding-bottom: 0px; padding-left: 10px; padding-right: 10px; font-size: 14px !important; line-height: 18px; text-align:center !important; }
    .div-auto { text-align: center; }
    .div-moto { text-align: center; }
    .botones-main { text-align:center; }
    .btn-auto { margin-left: -30px; }

    /*.comencemos { padding-top: 130px; }*/
    .div-comencemos { margin-left: 80px; }
    .text-comencemos { padding-top: 30px; padding-left: 90px; color: #ffffff; font-size: large; letter-spacing: 1px; line-height: 25px;}

    /*.productos { padding-top: 130px; }*/
    .descripcion-productos { margin-top: 0px; }
    .text-productos { text-align: center; padding-top: 0px; padding-bottom: 20px; padding-right: 100px; padding-left: 100px;}
    .logo-productos { text-align: center; padding-top: 5px; padding-bottom: 0px;}
}


.div1 {

    height: 350px;
    background-color:rgb(44, 43, 43);
    margin-left: 270px;
    margin-right: 270px;
    z-index: 1;
    position: relative;
}

.div3 {
  margin-top: -25px;
    height: 400px;
    background-color: #d9b413;
    left: 8%;
    z-index: 3;
    right: 52%;
    position: absolute;
}

.descripcion-productos {
    height: 100%;
    background-color: #000;
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    left: 48%;
    z-index: 4;
    position: absolute;
}

.iconos-productos1 {
  padding-top: 8%;
}

.iconos-productos2 {
  padding-top: 13%;
}

.img-carousel-products {
  padding-top: 15%;
}

.img-carousel-products2 {
  padding-top: 35%;
}

#producto-portalces {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 84, 84, .9)), to(rgba(84, 84, 84, .9))), url(../img/fondo-portalces.jpg);
  background-image: linear-gradient(25deg, rgb(8, 8, 8), rgba(49, 48, 48, 0.9)), url(../img/fondo-portalces.jpg);  
}

#producto-panal {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 84, 84, .9)), to(rgba(84, 84, 84, .9))), url(../img/fondo-panal.jpg);
  background-image: linear-gradient(25deg, rgb(8, 8, 8), rgba(49, 48, 48, 0.9)), url(../img/fondo-panal.jpg);  
}